<div data-js-type="multiselect" class="flex-1 bg-slate-900 text-white">
    <form data-js-type="multiselect-form" class="hidden">
        <select name="multi-select" id="multi-select" multiple>
            <option value="option-1">option 1</option>
            <option value="option-2">option 2</option>
            <option value="option-3">option 3</option>
        </select>
    </form>
    <div data-js-type="multiselect-dropdown" class="bg-slate-900 text-white">Select option...</div>
    <ul data-js-type="multiselect-option-container" class="hidden">
        <li data-js-type="multiselect-option" data-js-value="option-1" data-js="unselected" class="border border-slate-400 hover:bg-slate-800 data-[js=selected]:border-white data-[js=selected]:bg-blue-900 text-white">option 1</li>
        <li data-js-type="multiselect-option" data-js-value="option-2" data-js="unselected" class="border border-slate-400 hover:bg-slate-800 data-[js=selected]:border-white data-[js=selected]:bg-blue-900 text-white">option 2</li>
        <li data-js-type="multiselect-option" data-js-value="option-3" data-js="unselected" class="border border-slate-400 hover:bg-slate-800 data-[js=selected]:border-white data-[js=selected]:bg-blue-900 text-white">option 3</li>
    </ul>
</div>

